#root {
  --standard-padding: 10px;
  --standard-margin: 20px;
  /*--header-footer-colour: rgba(20, 20, 20, 0.8);
  --header-footer-border-colour: rgb(255, 223, 0);

  --background-colour-1: rgba(20, 20, 20, 0.8);
  --background-colour-2: rgb(50, 50, 50, 1);
  --background-colour-3: rgba(201, 201, 201, 1);

  --text-colour-1: rgb(255, 255, 255);
  --text-colour-2: rgba(0, 0, 0, 1);

  --border-colour-1: rgb(255, 255, 255);
  --border-colour-2: rgb(255, 223, 0);

  --hover-colour-1: rgb(255, 212, 212);

  --active-colour-1: rgba(0, 0, 0, 1);*/

  /*--background-colour-1: rgba(255, 0, 0, 0.8);
  --background-colour-2: rgb(200, 200, 200, 1);
  --background-colour-3: rgba(170, 170, 170);

  --text-colour-1: rgba(0, 0, 0, 1);
  --text-colour-2: rgba(0, 0, 0, 1);

  --border-colour-1: rgba(0, 0, 0, 1);
  --border-colour-2: rgb(0, 255, 157);

  --hover-colour-1: rgb(41, 137, 247);

  --active-colour-1: rgb(255, 0, 0);
  --active-colour-2: rgb(255, 255, 255);*/

  text-align: center;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  color: var(--text-colour-1);
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  transition: background-color 0.5s ease-out;
}

[data-theme="dark"]{
  --background-colour-1: rgb(30, 30, 30);
  --background-colour-2: rgba(40, 40, 40, 1);
  --background-colour-3: rgba(70, 70, 70, 1);

  --text-colour-1: rgb(235, 235, 235);
  --text-colour-2: rgb(125, 125, 125);

  --button-colour: rgb(0, 0, 0);
  --track-colour: rgb(235, 235, 235);

  --border-colour-1: rgb(255, 255, 255);
  --border-colour-2: rgb(255, 223, 0);

  --hover-colour-1: rgb(255, 223, 0);

  --active-colour-1: rgba(255, 223, 0, 1);
  --active-colour-2: rgb(200, 200, 200);

  --shadow-colour:rgb(0, 0, 0);
}

[data-theme="light"]{
  --background-colour-1: rgba(190, 190, 190, 1);
  --background-colour-2: rgba(200, 200, 200, 1);
  --background-colour-3: rgba(220, 220, 220, 1);

  --text-colour-1: rgba(0, 0, 0, 1);
  --text-colour-2: rgb(30, 30, 30);

  --button-colour: rgb(151, 151, 151);
  --track-colour: rgb(0, 0, 0);

  --border-colour-1: rgba(0, 0, 0, 1);
  --border-colour-2: rgb(255, 223, 0);

  --hover-colour-1: rgb(255, 223, 0);

  --active-colour-1: rgba(255, 223, 0, 1);
  --active-colour-2: rgb(200, 200, 200);

  --shadow-colour:rgb(0, 0, 0);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  background-color: var(--background-colour-1);
  transition: background-color 0.5s ease-out;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-colour-2);
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--border-colour-1);
  box-shadow: 0px 0px 50px 10px var(--shadow-colour);

  padding: var(--standard-padding);
  height: 100%;
  width: 100%;
  max-width: 1680px;
  transition: background-color 0.5s ease-out;
}

.content-container {
  /*background-color: var(--background-colour-1);
  transition: background-color 0.5s ease-out;
  padding: var(--standard-padding);*/
  height: 100%;
}

.card {
  background-color: purple;
}

.header-container, .footer-container {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  position: relative;
  background-color: var(--background-colour-2);
  min-width: 100%;
  border-color: var(--border-colour-1);
  transition: background-color 0.5s ease-out;
}

.header-container {
  /*display: flex;*/
  justify-content: center;/*space-between;*/
  /*align-items: center;
  position: relative;
  background-color: var(--background-colour-2);
  min-width: 100%;*/
  border-bottom: 2px solid;
  /*border-color: var(--border-colour-1);
  transition: background-color 0.5s ease-out;*/
}

.header-left-side {
  /*background-color: green;*/
  flex-basis: 20%;
}

.header-title{
  /*background-color: red;*/
  flex-basis: 60%;
}

.socials-container{
  /*background-color: green;*/
  flex-basis: 20%;
}

.socials-div{
  display:flex;
  justify-content: end;
  padding: var(--standard-padding);
  fill: white;
  gap: 10px;
}

.svg-icon {
  width: 32px;
  height: 32px;
  fill: var(--text-colour-1);
  transition: 0.5s ease-in-out;

  &:hover {
    fill: var(--hover-colour-1);
  }
}

.footer-container {
  /*display: flex;*/
  justify-content: space-between;
  /*align-items: center;
  background-color: var(--background-colour-2);
  min-width: 100%;*/
  border-top: 2px solid;
  /*border-color: var(--border-colour-1);
  transition: background-color 0.5s ease-out;*/
}

.footer-middle {
  flex-basis: 60%;
  padding: var(--standard-padding);
}

.theme-switch-container {
  /*display: flex;*/
  flex-basis: 20%;
  /*padding: var(--standard-padding);
  background-color: green;*/
}

.toggle-container {
  display: flex;
  background-color: rgba(0, 0 , 0, 0);
  border-radius: 50px;
  border: 1px solid;
  border-color: var(--border-colour-1);
  cursor: pointer;
  width: 60px;
  padding: 3px;

  /*&:hover {
    border-color: red;
  }*/
}

.toggle-handle {
  display: flex;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--background-colour-3);
  border: 1px solid;
  border-color: var(--border-colour-1);

  &:hover {
    border-color: var(--hover-colour-1);
  }
}

/*navbar css*/
.navBar-div {
  display: flex;
  justify-content: center;
  font-size: x-large;
  width: 100%; 
  padding: var(--standard-padding);

  a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s ease-in-out;

    &:hover {
      color: var(--hover-colour-1);
    }
  }

  .tabsContainer {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .tab{
    padding-left: var(--standard-padding);
    padding-right: var(--standard-padding);
  }

  .tab-underline {
    background-color: var(--active-colour-1);
    height: 5px;
  }
}

.home-page-container{
  height: 100%;
}

.slideshow-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  width: 100%;
  /*position: relative;
  display: inline-block;
  background-color: goldenrod;*/

  .slide-container {
    /*display: flex;
    flex-direction: column;*/
    height: 100%;
    width: 100%;
    position: relative;
  }

  .slides-selector-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0px;
      /*margin: 0px;
      padding-inline-start: 0px;
      margin-block-start: 0;
      margin-block-end: 0;*/
      /*overflow-x: hidden;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;*/

      img {
        /*display: block;
        position: relative;
        width: 100%;*/
        object-fit: fill;
        border: 1px solid;
        border-color: var(--border-colour-1);
        border-radius: 10px;
        cursor: pointer;
      }
    }

  li {
    list-style-type: none;
    /*scroll-snap-align: center;
    flex: 0 0 100%;*/
  }

  /*.main-slide {
    flex-grow: 5;
    width: 40%;
  }

  .slide {
    flex-grow: 1;
    width:30%;
  }*/
  /*.slide-img {
    height: 100%;
    width: 40%;
    border: 1px solid;
    border-color: var(--border-colour-1);
    border-radius: 10px;
    padding: var(--standard-padding);
    cursor: pointer;
    /*flex-grow: 1;*/
  /*}*/
  .slide {
    z-index:0;
  }

  .main-slide {
    z-index: 1;
  }

  .previous-img {
    mask-image: linear-gradient(to left, black 0%, transparent 100%);
    position: relative;
    transform: translateX(50%);
  }

  .next-img {
    mask-image: linear-gradient(to right, black 0%, transparent 100%);
    position: relative;
    transform: translateX(-50%);
  }

  /*.other-slide-image {
    height: 80%;
    width: 30%;
    border: 1px solid;
    border-color: var(--border-colour-1);
    border-radius: 10px;
    padding: var(--standard-padding);
    cursor: pointer;
  }*/

  /*.hidden-slide-image {
    flex-grow: 0;
    height: 10%;
    width: 10%;
  }*/

  .slide-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--standard-padding);
    height: 100%;
    overflow: hidden;
  }

  /*.slide-thumbnails-container {
    display: flex;
    overflow: hidden;
  }*/

  .caption-div {
    padding: var(--standard-padding);
    margin-left: 15%;
    margin-right: 15%;
    height: 100px;
  }

  button {
    cursor: pointer;
    background-color: rgba(0, 0 , 0, 0);
    border: none;
  }

  .previous {
    position: absolute;
    left: 0%;
    bottom: 50%;
  }

  .next {
    position: absolute;
    right: 0%;
    bottom: 50%;
  }

  .flip-icon{
    transform: rotate(180deg);
  }

  .svg-icon {
    fill: var(--text-colour-2);
    
    :hover {
      fill: var(--hover-colour-1);
    }
  }

  .active {
    fill: var(--text-colour-1);
  }

  /*.larger {
    width: 96px;
    height: 96px;
  }*/

  .thumbnail-buttons {
    height: 48px;
    width: 48px;
  }
}

.character-page-content-container {
  display:flex;
  flex-direction: column;
  /*grid-template-areas: 
    "header header"
    "image info";
  grid-template-columns: 1fr;
  grid-template-rows: max-content;*/
  height: 100%;
}

.character-container {
  display:flex;
  justify-content: space-evenly;
  /*background-color: blueviolet;*/
  height: 100%;
}

.character-menu-container{
  /*grid-area: header;
  place-self: center;*/
  display: flex;
  align-self: center;
  gap: 2px;
  /*background-color:antiquewhite;*/
  max-width: 50%;
  flex-wrap: wrap;
  padding:var(--standard-padding);

  button {
    cursor: pointer;
    border: 1px solid;
    border-color: var(--border-colour-1);
    border-radius: 5px;
    background-color: var(--button-colour);
    color: inherit;
  }

  .active {
    border-color: var(--active-colour-1);
  }

  img {
    height: 24px;
    width: 36px;
    object-fit: cover;
  }
}

.character-image-container {
  /*grid-area: image;*/
  display: flex;
  /*padding: var(--standard-padding);*/
  width: 50%;
  /*background-color: aqua;*/
  align-self: center;
  justify-content: center;

  img {
    /*border: 2px solid;
    border-color: red;*/
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    mask-image: radial-gradient(black 50%, transparent 100%);
  }
}

.character-info-container{
  /*grid-area: info;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: var(--standard-padding);*/
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding);
  width: 50%;
  /*background-color: aquamarine;*/
  text-align: left;

  h1 {
    font-size: 1.5em;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track{
    background: var(--background-colour-1);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb{
    background: var(--track-colour);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: greenyellow;
  }
}

/*.character-info {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  /*background-color: red;
}*/

/*t l b r*/
.character-name-div {
  padding: 10% 10% 0% 5%;
  font-size: 2em;
}

.scrollable-div {
  /*background-color: blue;*/
  overflow: auto;
  overflow-wrap: break-word;
  padding: 0px 10px 10px 5%;
  max-inline-size: 700px;
  max-height: 65vh;
  flex-grow: 1;
}
